In [21]:
import pandas as pd
import numpy as np

a. Find out what percentage of bikes are returned to its initial location?

TAHUN 2017

In [22]:
q1_2017 = pd.read_csv('C:\\Users\\ASUS\\bikeshare-ridership-2017\\Bikeshare Ridership (2017 Q1).csv')
q2_2017 = pd.read_csv('C:\\Users\\ASUS\\bikeshare-ridership-2017\\Bikeshare Ridership (2017 Q2).csv')
q3_2017 = pd.read_csv('C:\\Users\\ASUS\\bikeshare-ridership-2017\\Bikeshare Ridership (2017 Q3).csv')
q4_2017 = pd.read_csv('C:\\Users\\ASUS\\bikeshare-ridership-2017\\Bikeshare Ridership (2017 Q4).csv')

In [23]:
q3_2017

,trip_id,trip_start_time,trip_stop_time,trip_duration_seconds,from_station_name,to_station_name,user_type
0,1253914,7/1/2017 0:00,7/1/2017 0:15,910,Princess St / Adelaide St E,424 Wellington St W,Member
1,1253915,7/1/2017 0:01,7/1/2017 0:15,837,Fort York Blvd / Capreol Crt,HTO Park (Queens Quay W),Casual
2,1253916,7/1/2017 0:01,7/1/2017 0:14,786,Fort York Blvd / Capreol Crt,HTO Park (Queens Quay W),Casual
3,1253917,7/1/2017 0:01,7/1/2017 0:25,1420,Elizabeth St / Edward St (Bus Terminal),Boston Ave / Queen St E,Casual
4,1253918,7/1/2017 0:01,7/1/2017 0:25,1437,Elizabeth St / Edward St (Bus Terminal),Boston Ave / Queen St E,Casual
...,...,...,...,...,...,...,...
663483,1971680,9/30/2017 23:59,10/1/2017 0:04,337,Jarvis St / Isabella St,Yonge St / Yorkville Ave,Member
663484,1971681,9/30/2017 23:59,10/1/2017 0:07,494,Dundonald St / Church St,Victoria St / Gould St (Ryerson University),Member
663485,1971682,9/30/2017 23:59,10/1/2017 0:18,1114,Baldwin Ave / Spadina Ave - SMART,Hanna Ave / Liberty St,Member
663486,1971683,9/30/2017 23:59,10/1/2017 0:19,1192,Queens Quay W / Lower Simcoe St,Exhibition GO Station,Casual
663487,1971684,9/30/2017 23:59,10/1/2017 0:19,1190,Queens Quay W / Lower Simcoe St,Exhibition GO Station,Casual

In [24]:
route_station_2017_1 = np.where(q1_2017['from_station_name'] == q1_2017['to_station_name'], 'Init point', 'different point')
route_station_2017_2 = np.where(q2_2017['from_station_name'] == q2_2017['to_station_name'], 'Init point', 'different point')
route_station_2017_3 = np.where(q3_2017['from_station_name'] == q3_2017['to_station_name'], 'Init point', 'different point')
route_station_2017_4 = np.where(q4_2017['from_station_name'] == q4_2017['to_station_name'], 'Init point', 'different point')

In [25]:
route_station_2017_1

array(['different point', 'different point', 'different point', ...,
       'different point', 'different point', 'different point'],
      dtype='<U15')

In [26]:
q1_2017['Return point'] = route_station_2017_1
q2_2017['Return point'] = route_station_2017_2
q3_2017['Return point'] = route_station_2017_3
q4_2017['Return point'] = route_station_2017_4

In [27]:
return_point_2017_1 = q1_2017['Return point'].value_counts() 
return_point_2017_2 = q2_2017['Return point'].value_counts() 
return_point_2017_3 = q3_2017['Return point'].value_counts() 
return_point_2017_4 = q4_2017['Return point'].value_counts()

In [28]:
All_bike_2017_1 = q1_2017['Return point'].count()
All_bike_2017_2 = q2_2017['Return point'].count()
All_bike_2017_3 = q3_2017['Return point'].count()
All_bike_2017_4 = q4_2017['Return point'].count()

In [29]:
Init_bike_2017_1 = return_point_2017_1['Init point']
Init_bike_2017_2 = return_point_2017_2['Init point']
Init_bike_2017_3 = return_point_2017_3['Init point']
Init_bike_2017_4 = return_point_2017_4['Init point']

In [30]:
bike_returned_2017_1 = (Init_bike_2017_1/All_bike_2017_1)*100
bike_returned_2017_2 = (Init_bike_2017_2/All_bike_2017_2)*100
bike_returned_2017_3 = (Init_bike_2017_3/All_bike_2017_3)*100
bike_returned_2017_4 = (Init_bike_2017_4/All_bike_2017_4)*100

In [31]:
toronto = [q1_2017, q2_2017, q3_2017, q4_2017]
bike_share_2017 = pd.concat(toronto)
bike_share_2017.head()

,trip_id,trip_start_time,trip_stop_time,trip_duration_seconds,from_station_id,from_station_name,to_station_id,to_station_name,user_type,Return point
0,712382,1/1/2017 0:00,1/1/2017 0:03,223,7051.0,Wellesley St E / Yonge St Green P,7089.0,Church St / Wood St,Member,different point
1,712383,1/1/2017 0:00,1/1/2017 0:05,279,7143.0,Kendal Ave / Bernard Ave,7154.0,Bathurst Subway Station,Member,different point
2,712384,1/1/2017 0:05,1/1/2017 0:29,1394,7113.0,Parliament St / Aberdeen Ave,7199.0,College St W / Markham St,Member,different point
3,712385,1/1/2017 0:07,1/1/2017 0:21,826,7077.0,College Park South,7010.0,King St W / Spadina Ave,Member,different point
4,712386,1/1/2017 0:08,1/1/2017 0:12,279,7079.0,McGill St / Church St,7047.0,University Ave / Gerrard St W,Member,different point

In [32]:
route_station_2017_concat = np.where(bike_share_2017['from_station_id'] ==bike_share_2017['to_station_id'], 'Init point', 'different point')

In [33]:
route_station_2017_concat

array(['different point', 'different point', 'different point', ...,
       'different point', 'different point', 'different point'],
      dtype='<U15')

In [34]:
bike_share_2017['Return point'] = route_station_2017_concat

In [35]:
return_point_2017_concat = bike_share_2017['Return point'].value_counts()

In [36]:
return_point_2017_concat

different point    1480547
Init point           11822
Name: Return point, dtype: int64

In [37]:
All_bike_2017 = bike_share_2017['Return point'].count()
Init_bike_2017 = return_point_2017_concat['Init point']
bike_returned_2017 = (Init_bike_2017/All_bike_2017)*100

In [38]:
print('Percentage of all Quarter 2017')
print('Q1 2017 : %.2f' %bike_returned_2017_1, '%')  
print('Q2 2017 : %.2f' %bike_returned_2017_2, '%')  
print('Q3 2017 : %.2f' %bike_returned_2017_3, '%')  
print('Q4 2017 : %.2f' %bike_returned_2017_4, '%')

Percentage of all Quarter 2017
Q1 2017 : 1.17 %
Q2 2017 : 3.08 %
Q3 2017 : 7.08 %
Q4 2017 : 3.57 %

In [39]:
print('Percentage of 2017 is %.2f' %bike_returned_2017, '%' )

Percentage of 2017 is 0.79 %

TAHUN 2018

In [59]:
q1_2018 = pd.read_csv('C:\\Users\\ASUS\\bikeshare2018\\bikeshare2018\\Bike Share Toronto Ridership_Q1 2018.csv')
q2_2018= pd.read_csv('C:\\Users\\ASUS\\bikeshare2018\\bikeshare2018\\Bike Share Toronto Ridership_Q2 2018.csv')
q3_2018 = pd.read_csv('C:\\Users\\ASUS\\bikeshare2018\\bikeshare2018\\Bike Share Toronto Ridership_Q3 2018.csv')
q4_2018 = pd.read_csv('C:\\Users\\ASUS\\bikeshare2018\\bikeshare2018\\Bike Share Toronto Ridership_Q4 2018.csv')

In [60]:
route_station_2018_1 = np.where(q1_2018['from_station_name'] == q1_2018['to_station_name'], 'Init point', 'different point')
route_station_2018_2 = np.where(q2_2018['from_station_name'] == q2_2018['to_station_name'], 'Init point', 'different point')
route_station_2018_3 = np.where(q3_2018['from_station_name'] == q3_2018['to_station_name'], 'Init point', 'different point')
route_station_2018_4 = np.where(q4_2018['from_station_name'] == q4_2018['to_station_name'], 'Init point', 'different point')

In [61]:
route_station_2018_1

array(['different point', 'different point', 'different point', ...,
       'different point', 'different point', 'different point'],
      dtype='<U15')

In [62]:
q1_2018['Return point'] = route_station_2018_1
q2_2018['Return point'] = route_station_2018_2
q3_2018['Return point'] = route_station_2018_3
q4_2018['Return point'] = route_station_2018_4

In [63]:
return_point_2018_1 = q1_2018['Return point'].value_counts() 
return_point_2018_2 = q2_2018['Return point'].value_counts() 
return_point_2018_3 = q3_2018['Return point'].value_counts() 
return_point_2018_4 = q4_2018['Return point'].value_counts()

In [64]:
All_bike_2018_1 = q1_2018['Return point'].count()
All_bike_2018_2 = q2_2018['Return point'].count()
All_bike_2018_3 = q3_2018['Return point'].count()
All_bike_2018_4 = q4_2018['Return point'].count()

In [65]:
Init_bike_2018_1 = return_point_2018_1['Init point']
Init_bike_2018_2 = return_point_2018_2['Init point']
Init_bike_2018_3 = return_point_2018_3['Init point']
Init_bike_2018_4 = return_point_2018_4['Init point']

In [66]:
bike_returned_2018_1 = (Init_bike_2018_1/All_bike_2018_1)*100
bike_returned_2018_2 = (Init_bike_2018_2/All_bike_2018_2)*100
bike_returned_2018_3 = (Init_bike_2018_3/All_bike_2018_3)*100
bike_returned_2018_4 = (Init_bike_2018_4/All_bike_2018_4)*100

In [67]:
toronto = [q1_2018, q2_2018, q3_2018, q4_2018]
bike_share_2018 = pd.concat(toronto)
bike_share_2018.head()

,trip_id,trip_duration_seconds,from_station_id,trip_start_time,from_station_name,trip_stop_time,to_station_id,to_station_name,user_type,Return point
0,2383648,393,7018,1/1/2018 0:47,Bremner Blvd / Rees St,1/1/2018 0:54,7176,Bathurst St / Fort York Blvd,Annual Member,different point
1,2383649,625,7184,1/1/2018 0:52,Ossington Ave / College St,1/1/2018 1:03,7191,Central Tech (Harbord St),Annual Member,different point
2,2383650,233,7235,1/1/2018 0:55,Bay St / College St (West Side) - SMART,1/1/2018 0:59,7021,Bay St / Albert St,Annual Member,different point
3,2383651,1138,7202,1/1/2018 0:57,Queen St W / York St (City Hall),1/1/2018 1:16,7020,Phoebe St / Spadina Ave,Annual Member,different point
4,2383652,703,7004,1/1/2018 1:00,University Ave / Elm St,1/1/2018 1:12,7060,Princess St / Adelaide St E,Annual Member,different point

In [68]:
route_station_2018_concat = np.where(bike_share_2018['from_station_id'] ==bike_share_2018['to_station_id'], 'Init point', 'different point')

In [69]:
route_station_2018_concat

array(['different point', 'different point', 'different point', ...,
       'different point', 'different point', 'different point'],
      dtype='<U15')

In [70]:
bike_share_2018['Return point'] = route_station_2018_concat

In [71]:
return_point_2018_concat = bike_share_2018['Return point'].value_counts()

In [72]:
return_point_2018_concat

different point    1865688
Init point           57267
Name: Return point, dtype: int64

In [73]:
All_bike_2018 = bike_share_2018['Return point'].count()
Init_bike_2018 = return_point_2018_concat['Init point']
bike_returned_2018 = (Init_bike_2018/All_bike_2018)*100

In [74]:
print('Percentage of all Quarter 2018')
print('Q1 2018 : %.2f' %bike_returned_2018_1, '%')  
print('Q2 2018 : %.2f' %bike_returned_2018_2, '%')  
print('Q3 2018 : %.2f' %bike_returned_2018_3, '%')  
print('Q4 2018 : %.2f' %bike_returned_2018_4, '%')

Percentage of all Quarter 2018
Q1 2018 : 1.29 %
Q2 2018 : 3.56 %
Q3 2018 : 3.63 %
Q4 2018 : 1.43 %

In [75]:
print('Percentage of 2018 is %.2f' %bike_returned_2018, '%' )

Percentage of 2018 is 2.98 %

b. How many bikeshare trips usually
visit more than just start/end points,
but visited some other points before
the end of the day?

2017

In [55]:
bike_share_2017['trip_start_time'] = pd.to_datetime(bike_share_2017['trip_start_time'])

In [57]:
bike_share_2017['trip_stop_time'] = pd.to_datetime(bike_share_2017['trip_stop_time'], errors='coerce')

In [42]:
bike_share_2017['day_start'] = bike_share_2017['trip_start_time'].apply(lambda time: time.dayofweek)
bike_share_2017['day_stop'] = bike_share_2017['trip_stop_time'].apply(lambda time: time.dayofweek)

In [43]:
day = {0:'Mon',1:'Tue',2:'Wed',3:'Thu',4:'Fri',5:'Sat',6:'Sun'}
bike_share_2017['day_start'] = bike_share_2017['day_start'].map(day)
bike_share_2017['day_stop'] = bike_share_2017['day_stop'].map(day)

In [44]:
bike_share_2017.head()

,trip_id,trip_start_time,trip_stop_time,trip_duration_seconds,from_station_id,from_station_name,to_station_id,to_station_name,user_type,Return point,day_start,day_stop
0,712382,2017-01-01 00:00:00,2017-01-01 00:03:00,223,7051.0,Wellesley St E / Yonge St Green P,7089.0,Church St / Wood St,Member,different point,Sun,Sun
1,712383,2017-01-01 00:00:00,2017-01-01 00:05:00,279,7143.0,Kendal Ave / Bernard Ave,7154.0,Bathurst Subway Station,Member,different point,Sun,Sun
2,712384,2017-01-01 00:05:00,2017-01-01 00:29:00,1394,7113.0,Parliament St / Aberdeen Ave,7199.0,College St W / Markham St,Member,different point,Sun,Sun
3,712385,2017-01-01 00:07:00,2017-01-01 00:21:00,826,7077.0,College Park South,7010.0,King St W / Spadina Ave,Member,different point,Sun,Sun
4,712386,2017-01-01 00:08:00,2017-01-01 00:12:00,279,7079.0,McGill St / Church St,7047.0,University Ave / Gerrard St W,Member,different point,Sun,Sun

In [45]:
date_time_2017_concat = np.where(bike_share_2017['day_start'] ==bike_share_2017['day_stop'], 'Before The End of The Day', 'After The End of The Day')

In [46]:
date_time_2017_concat

array(['Before The End of The Day', 'Before The End of The Day',
       'Before The End of The Day', ..., 'Before The End of The Day',
       'Before The End of The Day', 'Before The End of The Day'],
      dtype='<U25')

In [47]:
bike_share_2017['Time Return'] = date_time_2017_concat

In [48]:
date_time_2017_concat = bike_share_2017['Time Return'].value_counts()

In [49]:
date_time_2017_concat

Before The End of The Day    1481217
After The End of The Day       11152
Name: Time Return, dtype: int64

In [50]:
All_time_bike_2017 = bike_share_2017['Time Return'].count()
Before_TEoTD_bike_2017 = date_time_2017_concat['Before The End of The Day']
bike_time_returned_2017 = (Before_TEoTD_bike_2017 /All_time_bike_2017)*100

In [51]:
print('Percentage Time Returned Before The End of The Day of 2017 is %.2f' %bike_time_returned_2017 , '%' )

Percentage Time Returned Before The End of The Day of 2017 is 99.25 %

2018

In [76]:
bike_share_2018['trip_start_time'] = pd.to_datetime(bike_share_2018['trip_start_time'])
bike_share_2018['trip_stop_time'] = pd.to_datetime(bike_share_2018['trip_stop_time'])

In [77]:
bike_share_2018['day_start'] = bike_share_2018['trip_start_time'].apply(lambda time: time.dayofweek)
bike_share_2018['day_stop'] = bike_share_2018['trip_stop_time'].apply(lambda time: time.dayofweek)

In [78]:
day = {0:'Mon',1:'Tue',2:'Wed',3:'Thu',4:'Fri',5:'Sat',6:'Sun'}
bike_share_2018['day_start'] = bike_share_2018['day_start'].map(day)
bike_share_2018['day_stop'] = bike_share_2018['day_stop'].map(day)

In [79]:
bike_share_2018.head()

,trip_id,trip_duration_seconds,from_station_id,trip_start_time,from_station_name,trip_stop_time,to_station_id,to_station_name,user_type,Return point,day_start,day_stop
0,2383648,393,7018,2018-01-01 00:47:00,Bremner Blvd / Rees St,2018-01-01 00:54:00,7176,Bathurst St / Fort York Blvd,Annual Member,different point,Mon,Mon
1,2383649,625,7184,2018-01-01 00:52:00,Ossington Ave / College St,2018-01-01 01:03:00,7191,Central Tech (Harbord St),Annual Member,different point,Mon,Mon
2,2383650,233,7235,2018-01-01 00:55:00,Bay St / College St (West Side) - SMART,2018-01-01 00:59:00,7021,Bay St / Albert St,Annual Member,different point,Mon,Mon
3,2383651,1138,7202,2018-01-01 00:57:00,Queen St W / York St (City Hall),2018-01-01 01:16:00,7020,Phoebe St / Spadina Ave,Annual Member,different point,Mon,Mon
4,2383652,703,7004,2018-01-01 01:00:00,University Ave / Elm St,2018-01-01 01:12:00,7060,Princess St / Adelaide St E,Annual Member,different point,Mon,Mon

In [80]:
date_time_2018_concat = np.where(bike_share_2018['day_start'] ==bike_share_2018['day_stop'], 'Before The End of The Day', 'After The End of The Day')

In [81]:
date_time_2018_concat

array(['Before The End of The Day', 'Before The End of The Day',
       'Before The End of The Day', ..., 'Before The End of The Day',
       'After The End of The Day', 'After The End of The Day'],
      dtype='<U25')

In [82]:
bike_share_2018['Time Return'] = date_time_2018_concat

In [83]:
date_time_2018_concat = bike_share_2018['Time Return'].value_counts()

In [84]:
date_time_2018_concat

Before The End of The Day    1915558
After The End of The Day        7397
Name: Time Return, dtype: int64

In [85]:
All_time_bike_2018 = bike_share_2018['Time Return'].count()
Before_TEoTD_bike_2018 = date_time_2018_concat['Before The End of The Day']
bike_time_returned_2018 = (Before_TEoTD_bike_2018 /All_time_bike_2018)*100

In [86]:
print('Percentage Time Returned Before The End of The Day of 2018 is %.2f' %bike_time_returned_2018 , '%' )

Percentage Time Returned Before The End of The Day of 2018 is 99.62 %